.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2px 0;
}

input {
  background: transparent;
  border: none;
  margin-bottom: 4vmin;
  /* border: 2px solid #a7f3d0; */
  border-radius: 2rem;
  margin-left: 2vmin;
}
